{% extends 'flatpages/default.html' %}

{% block title %}
news
{% endblock title %}

{% block content %}
   <h1>Все Новости</h1>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>

           </tr>


           {% for newsid in news %}
           <tr>
<!--               <td>{{ newsid.description|truncatewords:2 }}</td>-->
               <td>{{ newsid.news_name }}</td>
               <td>{{ newsid.news_body_text|truncatewords:2 }}</td>
               <td>{{ newsid.news_category }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!
       ужас</h2>
   {% endif %}
{% endblock content %}