{% extends 'flatpages/default.html' %}
{% load custom_filter%}
{% block title %}
news
{% endblock title %}

{% block content %}
   <h1>Все Новости</h1>
    <hr>
    <h3> Количество новостей: {{news|length}}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Дата публикации</td>

           </tr>


           {% for newsid in news %}
           <tr>

               <td>{{ newsid.news_name|truncatewords:2|censor_rediska}}</td>
               <td>{{ newsid.news_body_text|truncatewords:2|censor_rediska}}</td>
               <td>{{ newsid.news_category }}</td>
               <td>{{newsid.news_publish_date|date:'M d Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!
       ужас</h2>
   {% endif %}
{% endblock content %}